header {
    position: absolute;
    top: 0;

    height: 30%;
    width: 100%;

    display: flex;

    & div{
        width: 50%;
        padding: 10px 30px;
    }


    & img{
        height: 100%;
    }

}